<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Arm_MoveIt_Assembly_2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.60427944680824E-05 3.87300953518521E-05 0.0414251446336533"
        rpy="0 0 0" />
      <mass
        value="0.655014596547137" />
      <inertia
        ixx="0.00101073031912522"
        ixy="-1.90767935198549E-07"
        ixz="-1.70165593174552E-07"
        iyy="0.00095401536565403"
        iyz="4.10819611617687E-07"
        izz="0.00188699356120778" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-2.98433441167228E-05 -0.0483515314635655 0.054713057999731"
        rpy="0 0 0" />
      <mass
        value="0.455125224183725" />
      <inertia
        ixx="0.000394829058309459"
        ixy="-3.74478064371732E-07"
        ixz="-3.68999770581158E-07"
        iyy="0.000530839403055201"
        iyz="2.00439805340243E-05"
        izz="0.000397964515551658" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1"
    type="revolute">
    <origin
      xyz="0 0 0.0775"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="9.27579481573709E-05 0.0175182399290933 0.275472999386939"
        rpy="0 0 0" />
      <mass
        value="0.891856461721987" />
      <inertia
        ixx="0.00435475407288075"
        ixy="-1.03883193767182E-07"
        ixz="-2.20593156848666E-07"
        iyy="0.0045575625095459"
        iyz="-2.02472686656056E-06"
        izz="0.000474727840907136" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2"
    type="revolute">
    <origin
      xyz="0 -0.024 0.06"
      rpy="0 0 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.279853886139342 0.0148848609580054 -8.91509088774001E-14"
        rpy="0 0 0" />
      <mass
        value="0.820660258517619" />
      <inertia
        ixx="0.00034453508599863"
        ixy="-4.48152667831286E-07"
        ixz="-2.93896707620862E-09"
        iyy="0.00648723879471234"
        iyz="-1.1030432802364E-19"
        izz="0.00626772615915787" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3"
    type="revolute">
    <origin
      xyz="0.00020722 0.0507 0.39997"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="8.93211447727804E-05 -0.053367466841865 -0.0860702805514775"
        rpy="0 0 0" />
      <mass
        value="0.284019990052222" />
      <inertia
        ixx="0.0002676570674362"
        ixy="-3.02110627748456E-07"
        ixz="-4.10818936428336E-07"
        iyy="0.000253734082405407"
        iyz="-3.16043936161858E-05"
        izz="0.000344774781306503" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4"
    type="revolute">
    <origin
      xyz="-0.44676 0.035 0"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="End_effector">
    <inertial>
      <origin
        xyz="-0.00291436016362501 -0.00153953625183363 -0.0697917938513678"
        rpy="0 0 0" />
      <mass
        value="0.891224455695713" />
      <inertia
        ixx="0.00266784691683874"
        ixy="-2.00928120275423E-06"
        ixz="1.12696986555021E-05"
        iyy="0.000652543524415567"
        iyz="-9.75739303299043E-06"
        izz="0.00233302824155854" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/End_effector.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Arm_MoveIt_Assembly_2.SLDASM/meshes/End_effector.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="end_effector"
    type="revolute">
    <origin
      xyz="0 -0.0617 -0.1125"
      rpy="0 0 0" />
    <parent
      link="link4" />
    <child
      link="End_effector" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>