controller_manager:
  ros__parameters:
    update_rate: 50  # Hz, must not be higher than motor status rate

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    # Controller used by MoveIt (exposes FollowJointTrajectory action on arm_controller/follow_joint_trajectory)
    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

arm_controller:
  ros__parameters:
    joints:
      - Joint1
      - Joint2
      - Joint3
      - Joint4
      - Joint5
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
